.head{
    display: flex;    
    gap: 5px;
}

.head button{
    height: 20px;
    margin-top: 22px;
    padding-left: 10px;
    padding-right: 10px;
}

a{
    font-weight: bold;
}

.form{
    margin-top: 20px;;
}

.form label{
    /* display:block; */
    display: flex;
    /* align-items: start; */
    margin-bottom: 15px;
}

/* For specific css style for input type */
input[type="submit"] {
    margin-bottom: 10px;
}

.rate{
    
    font-weight: 600;
}

.foot{
    text-align: center; 
    color:brown
}