table{
    border-collapse: collapse;
}

td, th{
    border: 1px solid black;
    padding: 5px 10px;
}

label{
    display: block;
    margin-bottom: 20px;
}

.foot{
    text-align: center; 
    color:brown
}